@model CMS.ViewModels.StudentsListViewModel

<div class="text-center">
    <h1 class="display-6"><strong>@Model.BatchName - @Model.SectionName - @Model.DepartmentName - @Model.CampusName</strong></h1>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.RollNo</td>
                <td>@student.FirstName  @student.LastName</td>
            </tr>
        }
    </tbody>
</table>
