@model IEnumerable<CMS.Models.SemesterRegistration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemesterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SemesterRegistrationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SemesterRegistrationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SemesterRegistrationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
