@model IEnumerable<CMS.Models.Teacher>

@{
    ViewData["Title"] = "Teachers";
}

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 text-md-end">
        <p class="action-link">
            <a asp-action="Create">
                <i class="bi bi-person-plus-fill fs-1 text-secondary"></i>
            </a>
        </p>
    </div>
</div>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeacherID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeacherID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeacherID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script src="~/datatable/script.js"></script>
}