@model CMS.Models.CourseRegistration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterRegistrationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterRegistrationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MidPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MidPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionalPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionalPercentage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseRegistrationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
