@model IEnumerable<CMS.Models.CourseRegistration>

@{
    ViewData["Title"] = "Course registrations";
}

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 text-md-end">
        <p>
            <a asp-action="Create">
                <i class="bi bi-plus-circle-fill fs-1 text-secondary"></i>
            </a>
        </p>
    </div>
</div>
<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SemesterRegistrationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MidPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionalPercentage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterRegistrationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MidPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionalPercentage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseRegistrationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseRegistrationID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseRegistrationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/datatable/script.js"></script>
}
